/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.pokemon {
  padding: 20px; }

.header {
  height: 425px;
  text-align: center;
  color: #FFFFFF;
  background-color: #222222;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center; }
  .header h1 {
    margin-bottom: 20px; }

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  padding-top: 20px;
  background-color: #EDEDED; }
  .row > div {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    margin: 10px;
    background-color: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 10px 6px -6px #DDDDDD; }
    .row > div:hover {
      box-shadow: 0 10px 6px -6px #777; }
  .row .pokemon__name {
    margin: 10px auto;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 15px;
    text-transform: capitalize; }

.pokemon__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .pokemon__list h2 {
    font-size: 1em; }
  .pokemon__list p {
    font-size: .9em; }

@media screen and (min-width: 969px) {
  .row {
    -ms-flex-pack: center;
    justify-content: center; }
    .row > div {
      width: 29%; } }

@media screen and (max-width: 968px) and (min-width: 650px) {
  .row {
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .row > div {
      width: 43%; } }

@media screen and (max-width: 649px) {
  .row {
    -ms-flex-pack: center;
    justify-content: center; }
    .row > div {
      width: 75%; } }

body {
  font-family: "Montserrat", serif; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.7em; }

h3 {
  font-size: 1.4em; }

h4 {
  font-size: 1.2em; }

h5 {
  font-size: .9em; }

h6 {
  font-size: .7em; }

button[name="random"] {
  height: 45px;
  width: 200px;
  border-radius: 25px;
  border: none;
  background-color: transparent;
  font-family: "Montserrat", serif;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 1em; }
  button[name="random"]:hover {
    color: #222222;
    background-color: #FFFFFF;
    cursor: pointer; }

.pokemon__image {
  width: 60%;
  margin: 0 auto; }
