// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-font-family: sans-serif;
$base-font-weight: $regular;
$base-font-size: 13px;
$base-line-height: 1.4;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $bold;

@import "modules/colors";

// Body
.pokemon {
    padding: 20px;
}

.row {
    display: flex;

    > div {
        width: 33%;
        display: flex;
        flex-direction: column;
        padding: 10px;
        text-align: center;
        border: 1px solid #ccc;
        margin: 10px;
        border-radius: 3px;
        -webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
    }

    .pokemon__name {
        margin: 10px auto;
        border-bottom: 1px solid #CCCCCC;
        padding-bottom: 15px;
    }
}
